/* Image container */
.image-container{
    position: relative;
    top: 88px;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 32px 10px 32px 64px;
    z-index: 0;
}
.image-container img {
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: cover;
}

/* ======== Hero Section ======= */
.who-we-are-hero{
    background-color: transparent;
    margin-right: 4rem;
    position: relative;
    bottom: 180px;
    height: 91.666667%;
    padding-bottom: 104px;
    z-index: 0;
}

.who-we-are-hero .header-bg h1{
    color: white;
    padding: 3.5rem;
    width: 70%;
    margin-left: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    background-color: #075985;
    z-index: 10;
}
.who-we-are-section-content {
    color: #777;
    padding: 10px 10px 10px 64px;
}
.who-we-are-content-flex{
    display: flex;
    gap: 1rem;
}
.who-we-are-content-flex .content-left{
    width: 50%;
    padding: 1rem;
}
.who-we-are-content-flex .content-left h1{
    font-size: 42px;
    font-weight: 600;
    line-height: 1.2;
    color: #020b39;
}
.who-we-are-content-flex .content-left h1> span{
    color: #0822aa;
}

.who-we-are-content-flex .content-right{
    width: 50%;
    padding: 1rem;
    border: none;
}
.who-we-are-content-flex .content-right p{
    font-size: 16px;
    font-weight: 500;
}

/* ================= Main ================ */
#main {
    background: #e5e7eb;
    width: 100%;
    height: auto;
}

/* Culture Image container */
.culture-content{
    display: flex;
    gap: 1rem;
    margin-bottom: 70px;
}

.culture-image-container{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    gap: 20px;
}
.image-container-left,
.image-container-middle,
.image-container-right{
    height: 75vh;
}
.image-container-left img{
    width: 100%;
    height: auto;
    display: block;
}

.image-container-middle img{
    width: 100%;
    height: 99%;
    display: block;
}

.image-container-right img{
    width: 100%;
    height: auto;
    display: block;
}

/* ======= citadel section ======== */
#citadel{
    background: #fff;
    width: 97%;
}
.citadel-content-left{
    margin-top: 15px;
}
.citadel-content{
    margin-bottom: 90px;
    padding: 50px 56px 32px 56px;
}

/* Empowerment Content */
.empowerment-content,
.community-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    height: 80vh;
}

.empowerment-content h1,
.community-content h1,
.explore-header h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    color: #020b39;
    margin-bottom: 50px;
}
.empowerment-content h1> span,
.community-content h1> span,
.explore-header h1> span{
    color: #0822aa;
}
.empowerment-content p,
.community-content p{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #777;
}

.empowerment-content-left img,
.community-content-right img{
    width: 100%;
    height: auto;
    display: block;
}

.community-content{
    padding: 64px 45px 0 56px;
    height: auto;
    margin-top: 170px;
}
.community-content-right img{
    height: 100vh;
}

/* ===== Global ========= */
#global{
    margin-top: 64px;
}
.global-content{
    padding: 32px 50px 56px 64px;
}

/* Continents */
.continents{
    display: block;
    width: 100%;
    padding-bottom: 56px;
}
.continents-container{
    display: flex;
    justify-content: space-between;
    margin: 56px 64px;
    padding: 0 0 32px 0;
    border-bottom: 1px solid rgba(50, 49, 49, 0.3);
}
.continents-container h3{
    font-size: 40px;
    color: #081660;
}
.continent-icon{
    display: flex;
    text-decoration: none;
    color: #0822aa;
    border: 1px solid rgba(8, 35, 170, 0.858);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.continent-icon:hover{
    border: none;
    background: #fbbf24;
    transition: all ease-in-out 0.3s;
}

/* ======== EXPLORE SECTION ========== */
#explore{
    background: #fff;
    padding: 64px 20px 56px 56px;
}
.explore-careers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: 75vh;
}
.careers-left,
.careers-middle,
.careers-right{
    border-left: 1px solid rgba(5, 20, 35, 0.23);
    padding: 20px 20px 0 20px;
    cursor: pointer;
}
.career-header h5{
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2;
    color: #020b39;
    margin-bottom: 40px;
}
.careers-left p,
.careers-middle p,
.careers-right p{
    color: #777;
    font-size: 14px;
}
.careers-left a,
.careers-middle a,
.careers-right a{
    color: #0822aa;
    text-decoration: none;
}
.career-icon{
    margin-left: 20px;
    position: relative;
    top: 2px;
}
span.career-icon i{
    font-size: 20px;
    font-weight: 200;
}
.career-image{
    margin-top: 35px;
}
.career-image img{
    width: 100%;
    height: auto;
    display: block;
}

